
button {
    background-color: rgb(112, 236, 116);
    color:blue;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 9px #999;
    display: inline-block;
    
 
  }

  body, html {
    height: 100%;
  }

  body{

    text-align:center;
    color:rgb(250, 45, 130);
    background-color: rgb(5, 201, 175);
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    border-radius: 8px;
    border: 100px solid transparent;
    padding: 15px;
    text-align:center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }  

  form{

    color:black;
    
  }

  span {
    color: red;
    font-size: large;
    background-color:rgba(247, 224, 97, 0.877);
    display:inline-flex;
  }

  